// Release.xcconfig
// Release-specific build settings

#include "Base.xcconfig"

// Swift Optimization Level
SWIFT_OPTIMIZATION_LEVEL = -O

// GCC Optimization Level
GCC_OPTIMIZATION_LEVEL = s

// Validate Product
VALIDATE_PRODUCT = YES

// Enable Compiler Optimizations
LLVM_LTO = YES

// Strip Debug Symbols
STRIP_INSTALLED_PRODUCT = YES
STRIP_SWIFT_SYMBOLS = YES

// Compiler Flags
OTHER_CFLAGS = -DNS_BLOCK_ASSERTIONS=1 